@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
  background: #0F0F0F;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  overflow: auto;
  color: #FBFBFB;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0F0F0F;
  color: #FBFBFB;
  border: 4px solid #fdb347;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery video {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

.gallery video:hover {
  transition: 0.5s;
  transform: scale(1.1);
  border: 2px solid rgba(251, 251, 251, 0.6);
}

h1 {
  border: 3px #0F0F0F solid;
  background-color: #716969;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  padding: 3px auto;
  transition: 0.8s;
}

a {
  text-decoration: none;
  color: #0F0F0F;
  transition: 0.8s;
  background-color: #716969;
}

/* Styles for responsive images */
img {
  max-width: 45%;
  width: 300px;
  height: auto;
  display: block;
  justify-items: center;
  border-radius: 10px;
  margin-bottom: 16px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .gallery video {
    max-width: 300px;
  }
  img {
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery video {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .header {
    font-size: 1.5rem;
  }
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .gallery video {
    max-width: 100%;
  }
  .header {
    font-size: 1.2rem;
  }
  img {
    max-width: 100%;
  }
}
